@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Assignment 8</h1>
    <p class="lead">Implementing role claims to access image handling.</p>
    <p><a href="http://iantipson.com/2016/03/22/assignment-8/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Navigate through the web app using various role claims to access different information.</p>
        <p>Azure link: <a href="http://dtbrennan1-a8.azurewebsites.net/" target="_blank">Azure web app</a></p>
    </div>
</div>