
@{
    ViewBag.Title = "Load Data";
}

<h2>Load Data</h2>
<p>The following actions are supported.</p>

<ul>
    <li>/loaddata/roleclaims</li>
    <li>/loaddata/artists</li>
    <li>/loaddata/albums</li>
    <li>/loaddata/remove</li>
    <li>/loaddata/removedatabase</li>
    <li>/loaddata/genre</li>
    <li>/loaddata/delete</li>
</ul>